<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Online Now</h3>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Full name</th>
        <th>Location</th>
        <th>Advertisements</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.exists? %>
          <img src="<%= user.avatar.url %>" class="avatar-small">
          <% end %>
        </td>
        <td><%= user.full_name %></td>
        <td></td>
        <td>
          <% user.ads.each do |ad| %>
            <a href="<%= app_advertisement_path(ad) %>">
              #<%= ad.id %>
            </a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<div class="box-footer">
  <div class="row">
    <div class="col-sm-6">
      <%= page_entries_info @users %>
    </div>
    <div class="col-sm-6">
      <%= paginate @users %>
    </div>
  </div>
</div>
</div>
