<% content_for :seo_tags do %>
  <title>Companion App | Hire a companion online</title>
  <meta name="description" content="Companions for Hire is a website that allows you to get into contact with companions in your local area. You can post an advertisement to find a companion, search local adds, or contact a companion currently online.">
<% end %>

<%= render 'visitors/header' %>

<%= render 'visitors/introduction' %>

<%= render 'visitors/how_does_it_work' %>

<%= render 'visitors/search_local' %>

<%= render 'visitors/careers' %>

<%= render 'visitors/pricing' %>

<%= render 'visitors/footer' %>
