<div class="row">
  <div class="col-md-6 col-sm-6 col-6">
    <h1>Advertisements</h1>
  </div>
  <div class="col-md-6 col-sm-6 col-6 text-right">
    <a class="btn btn-outline-primary" href="<%= new_admin_advertisement_path %>">New</a>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>City</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advertisements.each do |advertisement| %>
      <tr>
        <td><%= advertisement.title %></td>
        <td><%= advertisement.description %></td>
        <td><%= advertisement.city %></td>
        <td>
          <%= link_to 'Show', admin_advertisement_path(advertisement) %> | 
          <%= link_to 'Edit', edit_admin_advertisement_path(advertisement) %> | 
          <%= link_to 'Destroy', admin_advertisement_path(advertisement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
