<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Companion request:</h3>
  </div>
  <div class="box-body">
    <p>
      <strong>Title:</strong>
      <%= @advertisement.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @advertisement.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @advertisement.city %>
    </p>
  </div>
  <div class="box-footer">
<a href="<%= edit_admin_advertisement_path(@advertisement) %>">Edit</a> <br>
<% if current_user.id != @advertisement.user_id && !@advertisement.interested?(current_user) %>
<a href="<%= interest_app_advertisement_path(@advertisement) %>" data-method="POST">
  Register interest
</a>
<% end %>
</div>
</div>

<div class="box direct-chat direct-chat-success">
  <div class="box-header with-border">
    <h3 class="box-title">Users interested</h3>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody class="table-striped">
          <% @advertisement.interesters.each do |user| %>
            <tr>
              <td>
                <img src="<%= user.avatar.url %>" alt="" class="avatar-small">
              </td>
              <td><%= user.full_name %></td>
              <% if current_user.id == @advertisement.user_id %>
              <td>
                <% if user.id != @advertisement.private_user_id %>
                <a href="<%= set_private_chat_app_advertisement_path(@advertisement, user_id: user.id) %>"
                  class="btn btn-outline-success btn-sm" data-method="POST"
                  data-confirm="Are you sure?">
                  Private Chat
                </a>
                <% else %>
                  <span class="badge badge-success">Actived</span>
                <% end %>
              </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Public Chatter:</h3>
  </div>
  <div class="box-body chat">
    <div class="conversation-container">
      <div class="list-messages">
        <% @advertisement.comments.includes(:user).each do |message| %>
        <div class="box-message">
          <div class="message">
            <div class="user">
              <% if message.user %>
                <img src="<%= message.user.avatar %>">
              <% end %>
            </div>
            <div class="msg-detail">
              <div class="msg-content">
                <a href=""><%= message.user&.full_name %></a>
                <%= message.content %>
              </div>
              <span class="time"><%= message.created_at.try(:strftime, "%d %b, %Y %l:%M%P") %></span>
            </div>
          </div>
        </div>
        <% end %>
        <% if @advertisement.comments.blank? %>
        <div class="empty">
          Not found any comments
        </div>
        <% end %>
      </div>
      <% if @advertisement.interested?(current_user) || current_user.id == @advertisement.user_id %>
        <%= simple_form_for :comment, url: comment_app_advertisement_path do |f| %>
          <div class="new-message">
            <div class="input">
              <textarea name="content" rows="2" class="form-control" placeholder="Message..."></textarea>
            </div>
            <button class="btn submit" disabled="true">
              <i class="fa fa-send"></i>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @advertisement.private_user_id && (@advertisement.user_id == current_user.id || @advertisement.private_user_id == current_user.id) %>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Private Chatter:</h3>
  </div>
  <div class="box-body">
    <div class="conversation-container">
      <div class="list-messages">
        <% @advertisement.private_comments.includes(:user).each do |message| %>
        <div class="box-message">
          <div class="message">
            <div class="user">
              <% if message.user %>
                <img src="<%= message.user.avatar %>">
              <% end %>
            </div>
            <div class="msg-detail">
              <div class="msg-content">
                <a href=""><%= message.user&.full_name %></a>
                <%= message.content %>
              </div>
              <span class="time"><%= message.created_at.try(:strftime, "%d %b, %Y %l:%M%P") %></span>
            </div>
          </div>
        </div>
        <% end %>
        <% if @advertisement.private_comments.blank? %>
        <div class="empty">
          Not found any comments
        </div>
        <% end %>
      </div>
      <% if @advertisement.interested?(current_user) || current_user.id == @advertisement.user_id %>
        <%= simple_form_for :comment, url: comment_app_advertisement_path do |f| %>
          <input type="hidden" name="is_private" value="1">
          <div class="new-message">
            <div class="input">
              <textarea name="content" rows="2" class="form-control" placeholder="Message..."></textarea>
            </div>
            <button class="btn submit" disabled="true">
              <i class="fa fa-send"></i>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% end %>

<% content_for :page_js do %>
<script type="text/javascript">
  (function() {
    $('.conversation-container .new-message textarea').keyup(function(event) {
      $submitElement = $(this).parents('.new-message').find('.submit');
      if($(this).val().trim() != "") {
        $submitElement.prop('disabled', false);
      }else {
        $submitElement.prop('disabled', true);
      }
    });
  })();
</script>
<% end %>
