<aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <% if current_user.regular? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_app_advertisement_path %>">
              <i class="fa fa-table"></i> New
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= app_advertisements_path %>">
              <i class="fa fa-envelope"></i> Requests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= onlines_path %>">
              <i class="fa fa-pie-chart"></i> Online
            </a>
          </li>
        <% end %>
        <% if current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_admin_advertisement_path %>">
              <i class="fa fa-table"></i> New
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_advertisements_path %>">
              <i class="fa fa-envelope"></i> Requests
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= onlines_path %>">
              <i class="fa fa-pie-chart"></i> Online
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= admin_users_path %>">
              <i class="fa fa-user"></i> Users
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>